<div class="card">

    <button data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="onButtonClick()">
        <img class="card-img-top" src={{cardImage}} alt="Card_image">
    </button>

    <div class="card-body">
        <h5 class="card-title">{{tipoInmueble}}</h5>
        <p class="card-text">{{descripcion}}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{direccion}}</li>
        <li class="list-group-item">{{precio}}</li>
        <li [ngClass]="{'disponibilidad': isDisponible, 'no-disponibilidad': !isDisponible}" class="list-group-item">
            {{disponibilidad}}</li>
    </ul>
</div>