<!-- FIRST CARD -->
<div class="card">
    <img class="card-img-top" src={{cardImage}} alt="Card_image">
    <div class="card-body">
        <h5 class="card-title">{{tipoInmueble}}</h5>
        <p class="card-text">{{descripcion}}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{direccion}}</li>
        <li class="list-group-item">{{precio}}</li>
        <li class="list-group-item">{{disponibilidad}}</li>
    </ul>
    <div class="card-body">
        <button class="learn-more">
            <span aria-hidden="true" class="circle">
                <span class="icon arrow"></span>
            </span>
            <span class="button-text">Más detalles</span>
        </button>
    </div>
</div>