<!-- Modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <!-- FORMULARIO COMIENZA AQUÍ -->
            <section class="user">
                <div class="user_options-container">
                    <div class="user_options-text">
                        <!-- Texto para ELIMINAR CUENTA -->
                        <div class="user_options-unregistered">
                            <h2 class="user_unregistered-title">¿Quieres eliminar tu cuenta?</h2>
                            <p class="user_unregistered-text">Podrías hacerlo, pero te perderías todas las ventajas y
                                novedades que ofrecemos.</p>
                            <div class="row">
                                <button class="user_unregistered-signup" id="signup-button"
                                    (click)="onLogout()">Eliminar Cuenta</button>
                            </div>
                            <div class="row">
                                <button class="user_unregistered-signup" id="signout"
                                    data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                        <!-- Texto para CERRAR SESIÓN -->
                        <div class="user_options-registered">
                            <h2 class="user_registered-title">¿Quieres cerrar sesión?</h2>
                            <p class="user_registered-text">A veces también necesitamos un descanso.</p>
                            <div class="row">
                                <button class="user_registered-login" id="login-button" (click)="onDelete()">Cerrar
                                    sesión</button>
                            </div>
                            <div class="row">
                                <button class="user_unregistered-signup" id="signout2"
                                    data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                    <div class="user_options-forms2" id="user_options-forms2">
                        <div class="user_forms-login">
                            <h2 class="forms_title">Cerrar sesión</h2>
                            <!-- Formulario para Cerrar Sesión -->
                            <form class="forms_form" method="post">
                                <fieldset class="forms_fieldset">
                                    <div class="forms_field">
                                        <p class="forms_field-input">¡Hasta pronto!</p>
                                    </div>
                                    @if (user !== null) {
                                    <div class="forms_field">
                                        <p class="forms_field-input">{{user.nickname}}</p>
                                    </div>
                                    }
                                </fieldset>
                                <div class="forms_buttons">
                                    <input (click)="onSubmitLogOut()" type="submit" value="Cerrar Sesión"
                                        class="forms_buttons-action">
                                </div>
                            </form>
                        </div>
                        <div class="user_forms-signup">
                            <h2 class="forms_title">Eliminar cuenta</h2>
                            <!-- Formulario para Eliminar Cuenta -->
                            <form class="forms_form">
                                <fieldset class="forms_fieldset">
                                    <div class="forms_field">
                                        <input type="email" placeholder={{user.username}} class="forms_field-input"
                                            required formControlName="username" readonly />
                                    </div>
                                </fieldset>
                                <fieldset class="forms_fieldset">
                                    <div class="forms_field">
                                        <input type="text" placeholder={{user.nickname}} class="forms_field-input"
                                            required formControlName="nickname" readonly />
                                    </div>
                                </fieldset>
                                <div class="forms_buttons">
                                    <input (click)="onSubmitDelete($event)" type="submit" value="Eliminar"
                                        class="forms_buttons-action">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>