<nav class="navbar navbar-expand-sm bg-black navbar-dark class-black">
    <div class="container-fluid ms-5">
        <a class="navbar-brand" href="index.html">
            <img src="../../../assets/img/logo_nombre.png" alt="Avatar Logo" style="width:170px;" class="rounded-0">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link links_letters" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link links_letters" href="#">Ventas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link links_letters" href="#">Alquiler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link links_letters" href="#">Casos de éxito</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link links_letters" href="#">Contactanos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>