.links_letters {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
}

#collapsibleNavbar {
    margin-right: 6%;
}

ul li a {
    white-space: nowrap;
}


ul li {
    margin-right: 3%;
}

.nav-link {
    position: relative;
    overflow: hidden;
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease, left 0.3s ease;
    /* Transiciones para el ancho y la posición */
    transform-origin: right;
}

.nav-link:hover::after {
    width: 100%;
    /* Se expandirá hasta el 100% del ancho del enlace */
    left: 0;
    /* Alineará a la izquierda */
}


.active::after {
    width: 100%;
    left: 0;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background: linear-gradient(rgb(196, 145, 94), rgb(199, 148, 95), rgb(207, 159, 100), rgb(221, 176, 107), rgb(196, 145, 94));
}

/* plus sign */
.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign svg {
    width: 17px;
}

.sign svg path {
    fill: white;
}

/* text */
.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
}

/* hover effect on button width */
.Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
}

.Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
}

/* hover effect button's text */
.Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
}

/* button click effect*/
.Btn:active {
    transform: translate(2px, 2px);
}

.navbar-collapse {
    flex-grow: 0 !important;
    padding-right: 4%;
}


@media (max-width: 767.98px) {

    /* Estilos que se aplicarán cuando la ventana tenga una anchura menor a 768px, es decir, cuando se pliegue el menú */
    .last {
        margin-top: 3%;
    }
}