.links_letters {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
}

#collapsibleNavbar {
    margin-right: 6%;
}

ul li a {
    white-space: nowrap;
}


ul li {
    margin-right: 3%;
}

/* <reset-style> ============================ */
a {
    text-decoration: none;
}

/* <main-style> ============================ */
.links_letters {
    color: #fff;
    line-height: 2;
    position: relative;
}

.links_letters::before {
    content: '';
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -.25rem;
    right: 0;
    transition: right .4s, width .4s, left .4s;
}

.links_letters:hover::before {
    width: 100%;
    left: 0;
}

.active::after {
    width: 100%;
    left: 0;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}