<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="clearfix">
                    <img src={{image}} class="float-md-top mb-3 imf-fluid" alt="...">
                    <p>
                        {{detailedInformation}}
                    </p>
                    <p>
                        As you can see the paragraphs gracefully wrap around the floated image. Now imagine how this
                        would look with some actual content in here, rather than just this boring placeholder text that
                        goes on and on, but actually conveys no tangible information at. It simply takes up space and
                        should not really be read.
                    </p>
                    <p>
                        And yet, here you are, still persevering in reading this placeholder text, hoping for some more
                        insights, or some hidden easter egg of content. A joke, perhaps. Unfortunately, there's none of
                        that here.
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>