<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">{{propertyTitle.toUpperCase()}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="clearfix">
                    <img src={{image}} class="float-md-top mb-3 imf-fluid" alt="...">
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <div class="mt-1 mx-auto">
                                <h2>Detalles</h2>
                                <ul class="list-group">
                                    <li><strong>Zona &nbsp;</strong>{{zona}}</li>
                                    <li><strong>Precio &nbsp;</strong>{{precio | currency:'USD':'symbol':'1.2-2'}}</li>
                                    <li><strong>Dirección &nbsp;</strong>{{direccion}}</li>
                                    <li><strong>Descripción &nbsp;</strong>{{descripcion}}</li>
                                    <li><strong>Información detallada &nbsp;</strong>{{detailedInformation}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <div class="mt-1 mx-auto w-100">
                                <h2>Estadísticas</h2>
                                <div class="progress" role="progressbar" aria-label="Max progress bar" aria-valuenow="0"
                                    aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 100%">{{precio |
                                        currency:'USD':'symbol':'1.2-2'}}</div>
                                </div>
                                <div class="progress" role="progressbar" aria-label="" aria-valuenow="0"
                                    aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar progress-bar-striped" style="width: 70%"></div>
                                </div>
                                <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0"
                                    aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 100%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>